extends ../main.layout.pug

block variables
  - var title = 'Обо мне'

block scripts
  script(src='about.bundle.js')

block content
  section#hero.hero
    .hero__sotials
       ul.sotials
         each sotial in ['vk', 'github', 'in',]
           li.sotials__item
             a(href="").sotials__link
              +icon(sotial, 'sotials__icon')

    .hero__menu
       a(href="").hamburger
         .hamburger__planks
    .hero__content
        
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('av.jpg', 'user-pic', 'user__pic-img')
            .user__name Сергей Кононенко 
            .user__desc Личный сайт разработчика
    a(href='#about').arrow-down__link
      .arrow-down__button
         
  section#about.about
    .about__col.about__col-left
      .about__left-title
        .about__title
          .about__title-background
          h1.title.subtitle Обо мне
        .about__user-info
          .user-info
            .user-info__avatar
             +image('av.jpg', 'user-pic', 'user__avatar-pic')
            .user-info__title
              h2.subtitle Кто я
            .user-info__text.text-block
              p Я веб разработчик из Ростова-на-Дону. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!

    .about__col.about__col-right 
       .about__right-title
         h2.subtitle Чем я могу быть вам полезен
         .about__desc-text.text-block
           p Больше всего меня привлекает Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend.
         .about__content
           #skills-container
           
  section.contacts
   .contacts__map
     .contacts__content
       .contacts__title.subtitle контакты
       ul.contacts__list
         il.contacts__item 
            +icon('skype', 'contacts__icon')  
            .contacts__item-title skype  
         il.contacts__item
            +icon('envelope', 'contacts__icon')  
            .contacts__item-title knnnk.srg@gmail.com
         il.contacts__item
            +icon('phone', 'contacts__icon')  
            .contacts__item-title +7 988 556 26 28
         il.contacts__item 
            +icon('map_marker', 'contacts__icon')  
            .contacts__item-title г.Ростов-на-Дону
       
     
