
extends ../main.layout.pug

block variables
  - var title = 'Блог'

block content
  section.hero
    .hero__sotials
       ul.sotials
         each sotial in ['vk', 'github', 'in',]
           li.sotials__item
             a(href="").sotials__link
              +icon(sotial, 'sotials__icon')
    .hero__menu
       a(href="").hamburger
         .hamburger__planks
    .hero__content
      
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('av.jpg', 'user-pic', 'user__pic-img')
            .page__name 
              h1.subtitle.blog Блог
            .user__desc Статьи, которые я написал
  section.about-blog
   .about__col-blog
     .about__col.about__col-right.blog
     .about__col.about__col-left.blog
   .blog__content
     .blog__menu
        ul.blog__list.blog__list--absolute
          li.blog__item
            a.blog__link(data-name="Самое важное в SASS" href="#") Самое важное в SASS
          li.blog__item
            a.blog__link(data-name="Приёмы в вёрстке, без которых не обходится ни один сайт" href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
          li.blog__item
            a.blog__link(data-name="Самый необходимый набор Gulp плагинов" href="#") Самый необходимый набор Gulp плагинов
          li.blog__item
            a.blog__link(data-name="Почему я выбрал Jade" href="#") Почему я выбрал Jade
     .blog__articles
      article.article(data-name="Самое важное в SASS")
        h2.article__title Самое важное в SASS
        .article__data 22 ноября 2016
        .article__content 
           p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
           p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
      
      article.article(data-name="Приёмы в вёрстке, без которых не обходится ни один сайт")
        h2.article__title Приёмы в вёрстке, без которых не обходится ни один сайт
        .article__data 13 ноября 2016
        .article__content 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
      
      article.article(data-name="Самый необходимый набор Gulp плагинов")
        h2.article__title Самый необходимый набор Gulp плагинов
        .article__data 22 ноября 2016
        .article__content 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.

      article.article(data-name="Почему я выбрал Jade")
        h2.article__title Почему я выбрал Jade
        .article__data 22 ноября 2016
        .article__content 
          p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
          p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        
      
block scripts
  script(src='blog.bundle.js')