
extends ../main.layout.pug

block variables
  - var title = 'Блог'

block scripts
  script(src='about.bundle.js')
block content
  section.hero
    .hero__sotials
       ul.sotials
         each sotial in ['vk', 'github', 'in',]
           li.sotials__item
             a(href="").sotials__link
              +icon(sotial, 'sotials__icon')
    .hero__menu
       a(href="").hamburger
         .hamburger__planks
    .hero__content
      
      .hero__user-desc
        .user
          .user__pic-container
            .user__pic
              +image('av.jpg', 'user-pic', 'user__pic-img')
            .page__name 
              h1.subtitle.blog Блог
            .user__desc Статьи, которые я написал
  section.about-blog
   .about__col-blog
     .about__col.about__col-right.blog
     .about__col.about__col-left.blog
   .blog__content
     .blog__menu
        ul.blog__menu-list
         li.blog__menu-item.active Самое важное в SASS
         li.blog__menu-item Приёмы в вёрстке, без которых не обходится ни один сайт
         li.blog__menu-item Самый необходимый набор Gulp плагинов
         li.blog__menu-item Почему я выбрал Jade 
     .blog__post
       .blog__post-content
         .blog__post-title Самое важное в SASS
         .blog__post-date  22 ноября 2016
         .blog__post-text 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            br
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
            +image('post1.png', 'post-image', 'blog__post-image')
         .blog__post-line 

       .blog__post-content
         .blog__post-title Приёмы в вёрстке, без которых не обходится ни один сайт
         .blog__post-date 13 ноября 2016
         .blog__post-text 
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            br
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
       