extends ../auth.layout.pug

block content
 .wrapper__welcome
   .parallax
    .parallax__layer
       img(src="./assets/images/content/layer8.png" alt='').parallax__image
    .parallax__layer
       img(src="./assets/images/content/layer7.png" alt='').parallax__image
    .parallax__layer
       img(src="./assets/images/content/layer6.png" alt='').parallax__image
    
    .parallax__layer
       img(src="./assets/images/content/layer4.png" alt='').parallax__image
    .parallax__layer
       img(src="./assets/images/content/layer10.png"  alt='').parallax__image.parallax__clouds
    .parallax__layer
       img(src="./assets/images/content/layer2.png" alt='').parallax__image
    
    .parallax__layer
       img(src='./assets/images/content/layer1.png'  alt='').parallax__image 
 #welcome-page-component
 .authorization__footer
  span &#169; Сергей Кононенко | создано с любовью в LoftSchool | 2019