extends ../auth.layout.pug

block content
  .wrapper
    .wrapper__parallax
     .parallax
      .parallax__layer
         img(src="./assets/images/content/05.png" alt='').parallax__image-bg
      .parallax__layer
         img(src="./assets/images/content/08.png" alt='').parallax__image
      .parallax__layer
         img(src="./assets/images/content/07.png" alt='').parallax__image
      .parallax__layer
         img(src="./assets/images/content/06.png" alt='').parallax__image
      .parallax__layer
         img(src="./assets/images/content/04.png" alt='').parallax__image
      .parallax__layer
         img(src="./assets/images/content/10.png"  alt='').parallax__image
      .parallax__layer
         img(src="./assets/images/content/02.png" alt='').parallax__image
      .parallax__layer
         img(src='./assets/images/content/01.png'  alt='').parallax__image 
    #welcome-page-component
    .authorization__footer
      span &#169; Сергей Кононенко | создано с любовью в LoftSchool | 2019