.page__name h1.subtitle{
    font-family: bernier;
    font-size: 50px;
}

.subtitle.blog {
&::before{
    background-color: white;
}
&::after{
    background-color: white;}
}

.about-blog{
    display: flex;
    flex-direction: column;
}


.about__col-blog{
display: flex;


}

.about__col-right.blog{
&::before{ background: linear-gradient(to left bottom, transparent 49.9%, white 50%);}  
}

.about__col-left.blog{
    &::before{ background: linear-gradient(to right bottom, transparent 49.9%, white 50%);}  
    }
    
    .blog__content{
        display: flex;
        margin-bottom: 150px;
        margin-top: 50px;
        width:90% ;
      
       justify-content:center ;
    }
/**
    .blog__menu{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       align-items: center;
       margin-top:25px;
      

    }

    .blog__post{
      width: 50% ; 
    }

    .blog__menu-list{
        width: 65%;
        position:fixed;
       
    }
    .blog__menu-list--fixed{
        position:fixed;
        top: 0;
    }
    .blog__menu-item{
      margin-bottom: 20px;

    }
    .blog__menu-item .blog__link{
        font-family: Roboto-bold;
        text-align: right;
        
        color:rgb(69, 90, 100);
        padding-right: 10px;
    }

    .blog__item--active .blog__link{
        min-width: 100%;
        font-family: Roboto-medium;
        text-align: right;
        margin-bottom: 20px;
        color:rgb(0, 191, 165);
        border-right: solid rgb(0, 191, 165) 2px;
        
    }

    .blog__link{
        text-decoration:none;
    }

    .article__title{
        font-family: bernier;
color:  #455a64;
font-size: 35px;
line-height:70px;
    }

    .blog__post-date{
        font-family: Roboto-medium;
        color:rgb(0, 191, 165); 
       line-height: 60px;
    }

    .blog__post-text {
        font-family: Roboto-regular;
        margin-bottom: 20px;
        color:rgb(69, 90, 100);
    }

    .blog__post-image{
        margin-top:20px;
    }

    .blog__post-line {
       background: rgba(55, 62, 66, 0.07);
       height: 5px;
       width: 90%; 
       margin-top: 50px;
       margin-bottom: 50px;
    }

    **/
    .blog__menu{
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
       align-items: center;
       margin-top:25px;
       @media (max-width:768px) {
        display: none; 
      }
      @media (max-width:480px) {
        display: none; 
      }
    }

    .blog__articles{
      width: 50% ;
      padding-left:  20px;
      @media (max-width:768px) {
        width: 100% ;
      }
      @media (max-width:480px) {
        width: 100% ;
      }
    }

      
      .blog__list {

       width: 20%;
        display: flex;
        flex-direction: column;
      }
      .blog__list--absolute {
        position: absolute;
      }
      .blog__list--fixed {
        display: flex;
        flex-direction: column;
        position: fixed;
        
        top: 0;
      }
      
      .blog__item {
        margin-bottom: 10px;
        border-right: solid rgb(0, 191, 165) 2px;
        text-align: right;
        padding-right: 10px;
        margin-bottom: 20px;
      }
      
      .blog__item .blog__link {
        color: rgb(48, 47, 47);
      }

      .blog__link {
       font-family: Roboto-medium;
        color: rgb(48, 47, 47);
        margin-bottom: 20px;
        text-decoration: none;
       }


      .blog__item--active .blog__link {
        font-family: Roboto-medium;
        text-decoration: none;
        text-align: right;
        margin-bottom: 20px;
        color:rgb(0, 191, 165);
       
      }
      
      .article__title{
        font-family: bernier;
          color:  #455a64;
          font-size: 35px;
          line-height:70px;
    }  
    .article__data{
      font-family: Roboto-medium;
        color:rgb(0, 191, 165); 
       padding-top: 20px;
       padding-bottom: 20px;
    }
      .article {
        margin-bottom: 20px;
      }
      
      .blankspace {
        height: 500px;
      }