.preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    
    z-index:100;
    background: url("./assets/images/preloader/bg.jpg") center / cover;
    
    transition: top 1s  linear;
  }
  
  .preloader__pic {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    
    z-index: 150;
  }
  
  .preloader__svg {
    fill: $white;
    width: 80px;
    height: 95px;
  }
  
  .preloader__group {
    stroke: $white;
    stroke-dasharray: 98;
    animation: wave 2s cubic-bezier(1, 0, 0.4, 1) infinite;
  
    &--mid {
      animation-delay: 0.15s;
    }
    &--bot {
      animation-delay: 0.3s;
    }
  }
  
  @keyframes wave {
    0% {
      stroke-dashoffset: 98;
    }
  
    99% {
      stroke-dashoffset: -95;
    }
  
    100% {
      stroke-dashoffset: -98;
    }
  }
  
  .hide {
    top: -100%;
  }
  
  